/*page*/
ul {
    list-style: none;
    padding-left: 0;
    vertical-align: 0;
    padding-bottom: 9%;
}

li {
    display: inline-block;
    margin: 10px 10px 50px 10px;
    padding: 3px;
}

#bell {
    position: absolute;
    right: 5%;
    transform: translateY(-50%);
}

#newnoti {
    position: absolute;
    right: 5%;
    top: 76px;
    transform: translateX(-327%);
    width : 10px;
    height : 10px;
    border-radius: 50%;
    background-color: #d0ea85;
}



/*friend*/
.friend {
    display: inline;
    position: relative;
}
.friend > #image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#is_kiwe {
    position: absolute;
    background-color: transparent;
    top: -10px;
    right: 0;
}

.friend > h3 {
    position: absolute;
    white-space: nowrap;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%,0%);
}


/*search*/
.search {
    padding-top: 130px;
    top: 0;
    position: relative;
}

#s { 
    width: 90%;
    height: 45px;
    margin: 20px auto;
    border-radius: 100px;
    border: 0;
    background-color: #EEF6D6;
    font-size: 1rem;
    text-align: center;
}

.search > div {
    position: absolute;
    top: 155px;
    right: 18%;
}

.search > div > button {
    position: absolute;
    background-color: transparent;
    border: 0;
    outline:0;
}



/*search result*/
#result {
    display: none;
}

#resultImage {
    margin: 50px 0px 0px 0px;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.letsfriend {
    width: 90px;
    height: 45px;
    border-radius: 35px;
    border: 0;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #d0ea85;
}



/*popup content*/
.content {
    width: 300px;
    height: 197px;
    position:relative;
}

.content > #x {
    position: absolute;
    top:23px;
    right:20px;
    border: 0;
    background-color: white;
}

.left {
    position: absolute;
    left:40px;
    top: 23%
}

.left > img {
    width: 100px;
    background-color: transparent;
    border-radius: 50%;
}

.left> h3 {
    text-align: center; 
    font-size: larger;
}

.right {
    position: absolute;
    left: 165px;
    top: 25%;
}

.delete {
    border: 0;
    background-color: white;
    color: black;
    WIDTH: 140px;
    HEIGHT: 27pt;
    border: 2.5px solid rgb(156, 156, 156);
    border-radius: 10px;
}


.description {
    height: 19px;
    padding: 10px;
    width: 120px;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
    background-color: #eef6d6;
    border-radius: 10px;
    border-color: #eef6d6;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-description {
    height: 134px;
    padding: 10px;
    width: 120px;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    background-color: #eef6d6;
    border-radius: 10px;
    border-color: #eef6d6;
}
