body {
    margin: 0;
}
#leftbutton {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent; 
    outline: 0; 
    border: 0;
    z-index: 40;
    width: 25vw;
    height: 100vh;
}
#rightbutton{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: transparent; 
    outline:0; 
    border: 0;
    z-index: 40;
    width: 25vw;
    height: 100vh;
}
.contents {
    z-index: 3;
}
.highlighter {
    position:absolute;
    display: inline-block;
    background-color: #EEF6D6;
    left: 44px;
    top: 301;
}
.texxt {
    position: absolute;
    left: 44px;
    word-break: keep-all;
}
.result {
    position: absolute;
    word-break: keep-all;
    white-space: normal;
    top: 60%;
    right: 10%;
    vertical-align: middle;
    border-bottom: 3px solid #d0ea85;
}