body {
    margin: 0;
    padding: 0;
}
li {
    position: relative;
    width: 100%;
    height: 94px;
    padding-left: 0;
    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.05);
}
ul {
    padding-top: 115px;
    top: 0;
    list-style: none;
    padding-left: 0;
    padding-bottom: 18%;
}
.oorx {
    position: absolute;
    background-color: transparent;
    border: none;
}
li > img {
    padding-left: 15px;
    margin-top: 23px;
    width: 50px;
    height: 50px;
}
li > p {
    width: 50%;
    word-break:keep-all;
    white-space: normal;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translate(0%, -90%);
    font-size: 10vm;
}
.noread {
    background-color: #eef6d6;
}
#o {
    bottom: 23px; right: 60px;
}
#x {
    bottom: 19px; right: 20px;
}