button {
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    box-shadow: 0 2px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
}

#container {
    background: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-container {
    border: 1px solid white;
    padding: 5px;
}