blank {
    WIDTH: 220pt;
    HEIGHT: 27pt;
    border: 2.5px solid rgb(156, 156, 156);
    margin: 3px 26px 5px 17px;
    border-radius: 10px;
}

select { width: 200px; /* 원하는 너비설정 */ 
    padding: .8em .5em; /* 여백으로 높이 설정 */ 
    font-family: inherit; /* 폰트 상속 */ 
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
    border: 2.5px solid #999; border-radius: 10px; /* iOS 둥근모서리 제거 */ 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none; }

button{
    width:120px;
    height: 40px;
    background-color: white;
    color : black;
    box-shadow : 0 2px;
    font-size:16px;
    font-weight:bold;
    border-radius: 20px;
}