<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kiwe</title>
    <link rel="stylesheet" href="../static/css/bar.css">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}"
    <style>
    </style>
</head>

<body>
    <div class="bottom_menu">
        <div>
            <img src="{% static 'images/b-filled-kiwe.png %}"> 
        </div>
        <div>
            <img src="{% static 'images/b-memory.png %}">
        </div>
        <div>
            <img src="{% static 'images/b-friend.png %}">
        </div>
        <div>
            <img src="{% static 'images/b-setting.png %}">
        </div>
    </div>
</body>
</html>