<!DOCTYPE html>
<html>
    <head>
        <title>kiwe</title>
        <style>
          h5{
            margin:0;
          }
        </style>
    </head>
    <body>
      <center>
          <br>
          <br>
          <br>
          <div>
            <img src="https://blogfiles.pstatic.net/MjAyMTA4MTFfODUg/MDAxNjI4Njc5NzIxMzMw.c4QrPdrqH8qhwLtAOuwi9cRyyC6NJBa8y_-3jdWKI1wg.-6W_lXwbYmX-ysW_k4ceHzK2-LPVdB_WWOZblVxIE0Mg.JPEG.ksj051203/logo.jpg" style = "width:120pt; height:40;">
          </div>
          <br>
          <h2>대화하는 상대방도<br>
          이 앱이 있나요?</h2>
          <br>
          <br>
          <br>
          <div>
            <button style="width:50; height:35pt;"><img src = "https://blogfiles.pstatic.net/MjAyMTA4MTFfMzAg/MDAxNjI4Njc5NzIxMzM5.-YXIZ4unvNpyYsV4yfSGx31wS7kctDrPzCugWUrG2ssg.UIbWssEwWB3LRmXYF50ndnf9C2BDWAEAp8zLAQThNOMg.JPEG.ksj051203/connect.jpg" style = "width:50pt; height:20;"></button>
          </div>
          <br>
    

        <center>
</html>
