<!DOCTYPE html>
<html>
    <head>
        <title>kiwe</title>
        <style>
          h5{
            margin:0;
          }
        </style>
    </head>
    <body>
      <center>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div>
            <img src="https://blogfiles.pstatic.net/MjAyMTA4MTFfMzAg/MDAxNjI4Njc5NzIxMzM5.-YXIZ4unvNpyYsV4yfSGx31wS7kctDrPzCugWUrG2ssg.UIbWssEwWB3LRmXYF50ndnf9C2BDWAEAp8zLAQThNOMg.JPEG.ksj051203/connect.jpg">
          </div>
          <h1>연결할 친구 선택</h1>
          <br>
          <br>
          <div>
            <img src = "https://blogfiles.pstatic.net/MjAyMTA4MTFfMjMg/MDAxNjI4Njc5NzIxMzMx.jsqEzU2qxXIQBfGdrZuZ_iv2YD6eMj5L5EQ2eI4-S3Ug.RsRTGLOvuzpGGi6-vtvHqPK2BPfYzaXxBzpas_WaV4Eg.PNG.ksj051203/profile.png" style="WIDTH:50pt; HEIGHT:50pt">  김세진 님<br>
            <img src = "https://blogfiles.pstatic.net/MjAyMTA4MTFfMjMg/MDAxNjI4Njc5NzIxMzMx.jsqEzU2qxXIQBfGdrZuZ_iv2YD6eMj5L5EQ2eI4-S3Ug.RsRTGLOvuzpGGi6-vtvHqPK2BPfYzaXxBzpas_WaV4Eg.PNG.ksj051203/profile.png" style="WIDTH:50pt; HEIGHT:50pt">  김한울 님<br>
            <img src = "https://blogfiles.pstatic.net/MjAyMTA4MTFfMjMg/MDAxNjI4Njc5NzIxMzMx.jsqEzU2qxXIQBfGdrZuZ_iv2YD6eMj5L5EQ2eI4-S3Ug.RsRTGLOvuzpGGi6-vtvHqPK2BPfYzaXxBzpas_WaV4Eg.PNG.ksj051203/profile.png" style="WIDTH:50pt; HEIGHT:50pt">  유나은 님<br>
          </div>
          <br>
          <br>
         <button style="font-size:1.5em;">다음</button>

        <center>
</html>
