<!DOCTYPE html>
<html>
    <head>
      {% load static %}
        <title>kiwe</title>
        <style>
          h5{
            margin:0;
          }
        </style>
        <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    </head>
    <body>
      <div class="title">
        <h1 style="padding-left: 5%; transform: translateY(90%);">친구</h1>
      </div>
      <div class="bottom_menu">
        <div>
          <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'friends' %}"><img src="{% static 'images/b-filled-friend.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'memory' %}"><img src="{% static 'images/b-memory.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
        </div>
      </div>
    </body>
</html>