<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <title>kiwe</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          h5{
            margin:0;
          }
        </style>
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    </head>
    <body>
      <div class="title">
        <h1 style="padding-left: 5%; transform: translateY(90%);">친구</h1>
      </div>
      <center>
        <br>
        <br>          
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% for one in friends %}
        <div class="friend" onclick="javascript:showPopup()" style="display: inline">
            <img src="../media/{{ one.image }}">
            <h3 style="bottom: 35px;">{{ one.name }}</h3>
        </div>
        <div id="{{ one.id }}" group="popup" value="{{ one.id }}" class="hide">
          <div class="content">
            <button onclick="javascript:closePopup()">&times;</button>
            <img src="../media/{{ one.image }}">
            <h3>{{ one.name }}</h3>
            {{ one.description }}
          </div>
        </div>
        {% endfor %}
        <br>
        <br>
      </center>
      <div class="bottom_menu">
        <div>
          <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'friends' %}"><img src="{% static 'images/b-filled-friend.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'memories' %}"><img src="{% static 'images/b-memory.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
        </div>
      </div>
    </body>
</html>

<script>
  function showPopup() {
    user = document.getElementsByClassName('hide').value;
    const popup = document.querySelector('#%s', user);
    popup.classList.remove('hide');
  }

  function closePopup() {
    const popup = document.querySelector('#%s', user);
    popup.classList.add('hide');
  }
</script>