<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <title>kiwe</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/popup.css' %}">
      <link rel="stylesheet" href="{% static 'css/bar.css' %}">
      <link rel="stylesheet" href="{% static 'css/friends.css' %}">
    </head>
    <body>
      <div class="title">
        <h1 style="padding-left: 5%; transform: translateY(90%);">친구</h1>
        <a href="{% url 'notification' %}"><img src="{% static 'images/bell.png' %}"></a>
      </div>
      <center>
        <br>
        <br>          
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="search">
          <input type="text" id="s" placeholder="친구의 이메일을 검색해주세요.">
          <button id="send" onclick="javascript:search()"><img src="{% static 'images/search.png' %}"></button>
        </div>
        <div id="result" style="display: none;">
          <img id="resultImage" src="">
          <h2 id="resultName"></h2>
          <button value="" id="push" onclick="javascript:push()">친구 맺기</button>
        </div>
        {% for one in friends %}
        <div class="friend" onclick="javascript:showPopup('{{ one.id }}')" style="display: inline;">
            <img src="../media/{{ one.image }}">
            <h3 style="bottom: 35px;">{{ one.name }}</h3>
        </div>
        <section id="{{ one.id }}" class="hide">
          <div class="content">
            <button onclick="javascript:closePopup('{{ one.id }}')">&times;</button>
            <img src="../media/{{ one.image }}">
            <h3>{{ one.name }}</h3>
            {{ one.description }}
            <button>친구 끊기</button>
          </div>
        </section>
        {% endfor %}
        <br>
        <br>
      </center>
      <div class="bottom_menu">
        <div>
          <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'friends' %}"><img src="{% static 'images/b-filled-friend.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'memories' %}"><img src="{% static 'images/b-memory.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
        </div>
      </div>
    </body>
</html>

<script>
  function showPopup(user) {
    const popup = document.getElementById(user);
    popup.classList.remove('hide');
  }

  function closePopup(user) {
    const popup = document.getElementById(user);
    popup.classList.add('hide');
  }

  function search() {
    s = document.getElementById("s").value;
    var data = {
      dt : 'search',
      s : s,
    }
    
    $.ajax({
            url : "{% url 'friends' %}",
            type : "POST",
            headers : {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            dataType : "json",
            data : JSON.stringify(data),
            async : false,
            success : function (data) {
                    const friend = document.getElementsByClassName("friend")
                    for(var i=0; i<friend.length; i++) {
                      friend[i].style.display = 'none';
                    }
                    var file = '../media/' + data['image']
                    document.getElementById("resultImage").src = file;
                    document.getElementById("resultName").innerHTML = data['name'];
                    document.getElementById("result").style.display = 'block';
                    document.getElementById("push").value = data['user_id'];
                }
        });
  }

  function push() {
    push = document.getElementById("push").value;
    var data = {
      dt : 'push',
      push : push,
    }
    $.ajax({
      url : "{% url 'friends' %}",
      type : "POST",
      headers : {
        'X-CSRFTOKEN' : '{{ csrf_token }}'
      },
      dataType : "json",
      data : JSON.stringify(data),
      async : false,
    });
  }
</script>