<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body onload="javascript:recommend()">
    <form name="keyword" action="{% url 'keyword' %}" method="post">
    {% csrf_token %}
    <div>
        <br><br><br>
        <center>
        <img src="{% static 'images/kiwe.png' %}">
        </center>
    </div>
    <div>
        <center>
            <p><strong><h2>{{ request.user.profile.name }} 님</h2>
            <h2 id="recom"></h2>
            <h2>이야기는 어때요?</h2></strong></p>
        </center>
    </div>
    <br><br>
    <center>
        <button type="button" style="background-color: white; outline:0; border: 0;" onclick="javascript:re('time')"><img src="{% static 'images/new.jpg' %}"></button>  
    </center>

    <a href="{% url 'kiwe' %}"><button type="button" style="position: fixed; background-color: white; outline: 0; border:0; color: gray; bottom: 30px; left: 45%;" onclick="javascript:re('end')">그만하기</button></a>
    </form>
</body>
</html>

<script>
    var i = 0;
    var longestk = 'temp';
    var longestt = 0.0;
    var shortestk = 'temp';
    var shortestt = 10000.0;
    var alllength = 0;
    var allthetime = 0.0;

    function re(dt) {
        if(i<=keywords.length){
            var end = new Date();
            var time = (end.getTime() - start.getTime())/1000;
            alllength += keywords[i-1].length;
            allthetime += time;

            if(longestt < time) {
                longestt = time;
                longestk = keywords[i-1];
            }

            if(shortestt > time) {
                shortestt = time;
                shortestk = keywords[i-1];
            }

            if(dt=='time') {
                var data = {
                dt : dt,
                keyword : keywords[i-1],
                while : time,
            }}

            else if(dt=='end') {
                var data = {
                dt : dt,
                keyword : keywords[i-1],
                while : time,
                longestk : longestk,
                longestt : longestt,
                shortestk : shortestk,
                shortestt : shortestt,
                i : i,
                alllength : alllength,
                allthetime : allthetime,
                random : keywords[Math.floor(Math.random()*i)]
            }}
            

            $.ajax({
                url : "{% url 'keyword' %}",
                type : "POST",
                headers : {
                    'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                dataType : "json",
                data : JSON.stringify(data),
                async : false,
            });

            if(i<keywords.length) {
                start = new Date();
                witch.innerHTML = keywords[i++];

            }         
            
        }
    }

    function recommend() {
        var data = {
            dt : 'k',
            one : localStorage.getItem("1"),
            two : localStorage.getItem("2"),
            three : localStorage.getItem("3")
        }
        $.ajax({
            url : "{% url 'keyword' %}",
            type : "POST",
            headers : {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            dataType : "json",
            data : JSON.stringify(data),
            async : false,
            success : function (kk) {
                if(1) {
                    keywords = kk['recomm'];
                    witch = document.getElementById("recom");
                    start = new Date();
                }
                witch.innerHTML = keywords[i++];
            }
        });
    }
</script>