<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static "" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body onload="javascript:recommend()">
    <form name="keyword" action="{% url 'keyword' %}" method="post">
    {% csrf_token %}
    <div>
        <br><br><br>
        <center>
        <img src=https://postfiles.pstatic.net/MjAyMTA4MTFfODUg/MDAxNjI4Njc5NzIxMzMw.c4QrPdrqH8qhwLtAOuwi9cRyyC6NJBa8y_-3jdWKI1wg.-6W_lXwbYmX-ysW_k4ceHzK2-LPVdB_WWOZblVxIE0Mg.JPEG.ksj051203/logo.jpg?type=w966 style="WIDTH:100pt; HEIGHT:75pt">
        </center>
    </div>
    <div>
        <center>
            <p><strong><h2>{{ request.user.name }} 님</h2>
            <h2 id="recom"></h2>
            <h2>이야기는 어때요?</h2></strong></p>
        </center>
    </div>
    <br><br>
    <center>
        <button type="button" style="background-color: white; outline:0; border: 0;" onclick="javascript:re()"><img src=https://postfiles.pstatic.net/MjAyMTA4MTFfMjA5/MDAxNjI4Njc5NzIxMzI4.GPP1mvtfYgKTPeeMlEV4p2bSKE3sTzYN_giSAfhEIM8g.U1M8A2XBDYDj_hTnA6K_2jHsYdxgffKAfxGNE68SOy8g.PNG.ksj051203/KakaoTalk_20210811_192221213.png?type=w966></button>
        </a>        
    </center>
    </form>
</body>
</html>

<script>
    var i = 0;
    function re() {
        if(i<keywords.length){
            witch.innerHTML = keywords[i++]
        }
    }

    function recommend() {
        var data = {
            one : localStorage.getItem("1"),
            two : localStorage.getItem("2"),
            three : localStorage.getItem("3")

        }
        $.ajax({
            url : "{% url 'keyword' %}",
            type : "POST",
            headers : {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            dataType : "json",
            data : JSON.stringify(data),
            success : function (kk) {
                if(1) {
                    keywords = kk['recomm']
                    witch = document.getElementById("recom")
                }
                witch.innerHTML = keywords[i++]
            }
        });
    }
</script>