<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>kiwe</title>
        <link rel="stylesheet" href="{% static 'css/blank.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          h5{
            margin:0;
          }
        </style>
    </head>
    <body>
      <center>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1>로그인</h1>
          <section>
            <form name="login" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              이메일
              <div>
                <input class="blank" name="email" type="email" placeholder= "이메일을 입력해주세요"></input>
              </div>
              비밀번호
              <div>
                <input class="blank" name="password" type="password" placeholder= "비밀번호를 입력해주세요"></input>
              </div>
              <br>

              <input type="submit" name="" class="Rectangle-5" value="로그인"> 
            </form>
          </section>
        </center>
</html>
