<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load static %}
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static "button.css" %}">
    <style>
          center {
            width: 200px;
            margin: 0 auto;
          }
    </style>
  </head>
    <body>
      <form name="main" action="{% url 'main' %}" method="post">
      {% csrf_token %}
      <center>
          <img src="https://blogfiles.pstatic.net/MjAyMTA4MTFfODUg/MDAxNjI4Njc5NzIxMzMw.c4QrPdrqH8qhwLtAOuwi9cRyyC6NJBa8y_-3jdWKI1wg.-6W_lXwbYmX-ysW_k4ceHzK2-LPVdB_WWOZblVxIE0Mg.JPEG.ksj051203/logo.jpg" style="WIDTH:100pt; HEIGHT:75pt">
          <h2>{{ request.user.name }} 님</h2>
          <button style="font-size:1.2em;">시작</button>
      </center>
      </form>
    </body>
</html>