<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/memory.css' %}">
    <title>kiwe</title>
</head>
<body onload="javascript:load(0)">
    <div class="title">
    <h1>그날의 추억 #{{ id }}</h1>
    </div>
    <br><br><br><br><br><br><br><br>

    <div>
        <button id="leftbutton" onclick="javascript:left()"></button>
        <button id="rightbutton" onclick="javascript:right()"></button>
    </div>

    <div id="content" class="contents">
        <strong><h1 id="highlighter" class="highlighter"></h1></strong><br><br>
        <h1 id="texxt" class="texxt"></h1>

        <img class="kiwe" src="{% static 'images/kiwe.png' %}">
        <h1 class="result" id="result"></h1>
    </div>

    <div id="rogguggoe" class="contents">
        <h1 id="rotexxt" class="texxt"></h1><br><br>
        <strong><h1 id="rohighlighter" class="highlighter"></h1><strong>

        <img class="kiwe" src="{% static 'images/kiwe.png' %}">
        <h1 class="result" id="roresult"></h1>
    </div>

    <div class="bottom_menu">
        <div>
            <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'friends' %}"><img src="{% static 'images/b-friend.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'memories' %}"><img src="{% static 'images/b-filled-memory.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
        </div>
    </div>
</body>
</html>

<script>
    var i=0;
    var memory = {{ memory|safe }};
    console.log(memory);
    content = document.getElementById("content");
    rogguggoe = document.getElementById("rogguggoe");
    highlighter = document.getElementById("highlighter");
    texxt = document.getElementById("texxt");
    result = document.getElementById("result");
    rohighlighter = document.getElementById("rohighlighter");
    rotexxt = document.getElementById("rotexxt");
    roresult = document.getElementById("roresult");

    function load() {
        if(memory[i][3]) {
            content.style.display='none';
            rogguggoe.style.display='block';
            rohighlighter.innerHTML = memory[i][0];
            rotexxt.innerHTML = memory[i][1];
            roresult.innerHTML = memory[i][2];
        }
        else {
            content.style.display='block';
            rogguggoe.style.display='none';
            highlighter.innerHTML = memory[i][0];
            texxt.innerHTML = memory[i][1];
            result.innerHTML = memory[i][2];
        }
    }

    function left() {
        if(i > 0) i--;
        else i = memory.length - 1;

        load();
    }

    function right() {
        if(i < memory.length-1) i++;
        else i = 0;

        load();
    }
</script>