<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>kiwe</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bar.css' %}">
        <link rel="stylesheet" href="{% static 'css/memories.css' %}">
    </head>
    <body>
      <div class="title">
        <h1>그날의 추억</h1>
      </div>
      <center>
          <div id="contents">
          {% for one in usermemory %}
          <a href="{% url 'memory' one.id %}">
          <div class="memory">
              <h1>{{ one.longestk }}</h1>
              <h3 id="time">{{ one.kiwe_time }}</h3>
              <h3 id ="name">{{ one.user.profile.name }}</h3>
          </div>
          </a>
          {% endfor %}
          </div>
        </center>

        <div class="bottom_menu">
          <div>
              <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
          </div>
          <div>
              <a href="{% url 'friends' %}"><img src="{% static 'images/b-friend.png' %}"></a>
          </div>
          <div>
              <a href="{% url 'memories' %}"><img src="{% static 'images/b-filled-memory.png' %}"></a>
          </div>
          <div>
            <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
          </div>
      </div>
</html>
