<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>kiwe</title>
        <style>
          h5{
            margin:0;
          }
        </style>
        <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    </head>
    <body>
      <center>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1>그날의 추억</h1>
          <br>
          <h4>2021.03.09 with 세진 님</h4>
          <div>
            <img src ="" style="WIDTH:250pt; HEIGHT:160pt">
          </div>
          <br>
          <br>
        </center>

        <div class="bottom_menu">
          <div>
              <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
          </div>
          <div>
              <a href="{% url 'friends' %}"><img src="{% static 'images/b-friend.png' %}"></a>
          </div>
          <div>
              <a href="{% url 'memory' %}"><img src="{% static 'images/b-filled-memory.png' %}"></a>
          </div>
          <div>
            <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
          </div>
      </div>
</html>
