<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <script src="{% static 'js/notification.js' %}"></script>
    <title>kiwe</title>
</head>
<body>
    <div class="title">
        <h1>알림</h1>
    </div>

    <ul>
        {% for noti in notification %}

        {% if noti.notitype == 'accept' %}
            {% if noti.read == 1 %}
            <li>
                <img src={% if noti.from_user.profile.image %}"{{ noti.from_user.profile.image.url }}"{% else %}"{% static 'images/user.png' %}"{% endif %}>
                <p>{{ noti.from_user.profile.name }} 님이 친구 요청을 수락했습니다.</p>
            </li>
            {% endif %}
            {% if noti.read == 0 %}
            <li id="{{ noti.id }}" class="noread" onclick="javascript:read('{{ noti.id }}')">
                <img src={% if noti.from_user.profile.image %}"{{ noti.from_user.profile.image.url }}"{% else %}"{% static 'images/user.png' %}"{% endif %}>
                <p>{{ noti.from_user.profile.name }} 님이 친구 요청을 수락했습니다.</p>
            </li>
            {% endif %}
        {% endif %}

        {% if noti.notitype == 'request' %}
            {% if noti.read == 1 %}
            <li>
                <img src={% if noti.from_user.profile.image %}"{{ noti.from_user.profile.image.url }}"{% else %}"{% static 'images/user.png' %}"{% endif %}>
                <p>{{ noti.from_user.profile.name }} 님이 친구 요청을 보냈습니다.</p>
            </li>
            {% endif %}
            {% if noti.read == 0 %}
            <li id="{{ noti.id }}" class="noread">
                <img src={% if noti.from_user.profile.image %}"{{ noti.from_user.profile.image.url }}"{% else %}"{% static 'images/user.png' %}"{% endif %}>
                <p>{{ noti.from_user.profile.name }} 님이 친구 요청을 보냈습니다.</p>
                <button class="oorx" id="o" onclick="javascript:send('accept', '{{ noti.requestID.id }}', '{{ noti.id }}')"><img src="{% static 'images/check.png' %}"></button>
                <button class="oorx" id="x" onclick="javascript:send('no', '{{ noti.requestID.id }}', '{{ noti.id }}')"><img src="{% static 'images/not.png' %}"></button>
            </li>
            {% endif %}
        {% endif %}

        {% endfor %}
    </ul>
    

    <div class="bottom_menu">
        <div>
          <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'friends' %}"><img src="{% static 'images/b-filled-friend.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'memories' %}"><img src="{% static 'images/b-memory.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'setting' %}"><img src="{% static 'images/b-setting.png' %}"></a>
        </div>
      </div>
</body>
</html>

<script>
    function go(data) {
        $.ajax({
            url : "{% url 'notification' %}",
            type : "POST",
            headers : {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            dataType : "json",
            data : JSON.stringify(data),
            async : false,
        });
    }
</script>
