<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static 'css/blank.css' %}">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <form name="profileEdit" action="{% url 'profileEdit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center>
        <br><br><br>
        <br><br><br>
        <h2>프로필 수정</h2>
        <div class="profile">
            <div class="image-upload">
                <label for="file-input">
                    <img id="show" src={% if request.user.profile.image %}"{{ request.user.profile.image.url }}"{% else %}"{% static 'images/user.png' %}"{% endif %}>
                </label>
            
                <input id="file-input" name="image" type="file" accept="image/*">
            </div>
                <br>
                <p><input class="profileblank" value="{{ profile.name }}" id="name" name="name" type="text"></p>
                <p><input class="profileblank" value="{{ profile.description}}" id="description" name="description" type="text"></p>
            </div>
        </div><br><br>
        <center><button id="go" type="submit">수정 완료</button></center>
    </center>
    </form>

    <div class="bottom_menu">
        <div>
            <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'friends' %}"><img src="{% static 'images/b-friend.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'memories' %}"><img src="{% static 'images/b-memory.png' %}"></a>
        </div>
        <div>
          <a href="{% url 'setting' %}"><img src="{% static 'images/b-filled-setting.png' %}"></a>
        </div>
    </div>
</body>
</html>

<script>
    const reader = new FileReader();

    reader.onload = (readerEvent) => {
        document.querySelector("#show").setAttribute("src", readerEvent.target.result);
    };

    document.querySelector("#file-input").addEventListener("change", (changeEvent) => {
        const imgFile = changeEvent.target.files[0];
        reader.readAsDataURL(imgFile);
    })
</script> 