<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static 'css/blank.css' %}">
    <style>
        #go {
        width: 100px;
        height: 47px;
        margin: 18px 26px 0 17px;
        border-radius: 19px;
        background-color: #fff;
      }
    </style>
</head>
<body>
    <form name="profileCreate" action="{% url 'profileCreate' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <br><br><br>
            <br><br><br>
            <h2>프로필 설정</h2>
            <div class="profile">
                <div class="image-upload">
                    <label for="file-input">
                        <img src="{% static 'images/user.png' %}" width="100px" style="border-radius: 50%;" id="show">
                    </label>
                
                    <input id="file-input" name="image" type="file" accept="image/*" style="display: none;"/>
                </div>
                    <br>
                    <p><input class="profileblank" style="text-align: center; font-weight: bold; font-size: larger;" name="name" type="text"></p>
                    <p><input class="profileblank" style="padding: 10px; display: inline-block; width: 200px; word-break:break-all; white-space: normal; background-color: #eef6d6; border-radius: 10px; border-color: #eef6d6;" name="description" type="text"></p>
                </div>
            </div><br><br>
            <center><button id="go" type="submit">완료</button></center>
</body>
</html>


<script>
    const reader = new FileReader();

    reader.onload = (readerEvent) => {
        document.querySelector("#show").setAttribute("src", readerEvent.target.result);
    };

    document.querySelector("#file-input").addEventListener("change", (changeEvent) => {
        const imgFile = changeEvent.target.files[0];
        reader.readAsDataURL(imgFile);
    })
</script>