<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>kiwe</title>
</head>
<body>
  <center>
    <br><br><br>
    <br><br><br>
    <h2>내 프로필</h2>
    <div class="profile">
            <img id="show" src={% if request.user.profile.image %}"{{ request.user.profile.image.url }}"{% else %}"{% static 'images/user.png' %}"{% endif %}>
            <br>
            <strong><p>{{ request.user.profile.name }}</p></strong>
            <p id="description">{{ request.user.profile.description }}</p>
        </div>
    </div><br><br>
    <center><a href="{% url 'profileEdit' %}"><button id="edit" type="submit">수정하기</button></a></center>
  </center>

  <div class="bottom_menu">
    <div>
        <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
    </div>
    <div>
        <a href="{% url 'friends' %}"><img src="{% static 'images/b-friend.png' %}"></a>
    </div>
    <div>
        <a href="{% url 'memories' %}"><img src="{% static 'images/b-memory.png' %}"></a>
    </div>
    <div>
      <a href="{% url 'setting' %}"><img src="{% static 'images/b-filled-setting.png' %}"></a>
    </div>
</div>
</body>
</html>