<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static 'css/blank.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="{% static 'js/profile.js'  %}"></script>
</head>
<body>
    <form name="profileCreate" action="{% url 'profileCreate' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <br><br><br>
            <br><br><br>
            <h2>프로필 설정</h2>
            <div class="profile">
                <div class="image-upload">
                    <label for="file-input">
                        <img id="show" src="{% static 'images/user.png' %}">
                    </label>
                
                    <input id="file-input" name="image" type="file" accept="image/*">
                </div>
                    <br>
                    <p><input class="profileblank" id="name" name="name" placeholder="이름" type="text"></p>
                    <p><input placeholder="한 줄 소개" id="description" name="description" type="text"></p>
                </div>
            </div><br><br>
            <center><button id="go" type="submit">완료</button></center>
</body>
</html>