<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiwe</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <div>
        <br><br><br>
        <center>
        <img src=https://postfiles.pstatic.net/MjAyMTA4MTFfODUg/MDAxNjI4Njc5NzIxMzMw.c4QrPdrqH8qhwLtAOuwi9cRyyC6NJBa8y_-3jdWKI1wg.-6W_lXwbYmX-ysW_k4ceHzK2-LPVdB_WWOZblVxIE0Mg.JPEG.ksj051203/logo.jpg?type=w966 style="WIDTH:100pt; HEIGHT:75pt">
        </center>
    </div>
    <br>
    <div>
        <center>
            <strong><h2>몇 명과 함께하고 계신가요?</h2></strong>
        </center>
    </div>
    <br>
    <div>
        <center>
            <select name="people" id="number-select" style = "font-size:14pt">
                <option value="select">--선택--</option>
                <option value="1">1명</option>
                <option value="2">2명</option>
                <option value="3">3명</option>
                <option value="4">4명</option>
                <option value="5">5명</option>
                <option value="6">6명</option>
                <option value="7">7명</option>
            </select>
        </center>
    </div>
    <div style="position: absolute; right: 30px; bottom: 30px;">
        <a href="q2.html">
        <button type="button"style="font-size:24px;">다음</button>
        </a>
    </div>
</body>
</html>