  
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>kiwe</title>
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    </style>
</head>
<body>
    <div>
        <br><br><br>
        <center>
        <img src="{% static 'images/kiwe.png' %}">
        </center>
    </div>
            <center>
                <br>
                <strong><h2>{{ question.question }}</h2></strong>
            </center>
        <br><br>
        <form name="choice" method="POST">
        {% csrf_token %}
        {% for choice in choices %}
        <center>
        <div>
            <button value="{{ choice.id }}" name="oncedata" onclick="javascript:test( {{question.id}}, {{choice.id}} )">{{ choice.choice }}</button>
        </div>
        </center><br>
        {% endfor %}
        </form>
</body>

<script>
    function test(id, data){
        localStorage.setItem(id, data);
        }
</script>
</html>
