<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiwe</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <div>
        <br><br><br>
        <center>
        <img src=https://postfiles.pstatic.net/MjAyMTA4MTFfODUg/MDAxNjI4Njc5NzIxMzMw.c4QrPdrqH8qhwLtAOuwi9cRyyC6NJBa8y_-3jdWKI1wg.-6W_lXwbYmX-ysW_k4ceHzK2-LPVdB_WWOZblVxIE0Mg.JPEG.ksj051203/logo.jpg?type=w966 style="WIDTH:100pt; HEIGHT:75pt">
        </center>
    </div>
            <center>
                <strong><h2>어떤 관계이신가요?</h2></strong>
            </center>
        <br><br>
        <div>
            <p>
                <center>
                    <a href="q3.html"><button
                    type="button"
                    style="font-size:24px;"
                    >썸</button></a>
                    &nbsp;
                    &nbsp;
                    <a href="q3.html"><button
                    type="button"
                    style="font-size:24px;"
                    >연인</button></a>
                    </center>
            </p>
        </div>
        <div>
            <center>
            <a href="q3.html"><button
            type="button"
            style="font-size:24px;"
            >친구</button></a>
            &nbsp;
            &nbsp;
            <a href="q3.html"><button
            type="button"
            style="font-size:24px;"
            >가족</button></a>
            </center>
        </div>
</body>
</html>