<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiwe</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <div>
        <br><br><br>
        <center>
        <img src=https://postfiles.pstatic.net/MjAyMTA4MTFfODUg/MDAxNjI4Njc5NzIxMzMw.c4QrPdrqH8qhwLtAOuwi9cRyyC6NJBa8y_-3jdWKI1wg.-6W_lXwbYmX-ysW_k4ceHzK2-LPVdB_WWOZblVxIE0Mg.JPEG.ksj051203/logo.jpg?type=w966 style="WIDTH:100pt; HEIGHT:75pt">
        </center>
    </div>
    <div>
        <center>
            <strong><h2><p>유나은 님 " 라면 "</p>이야기는 어때요?</h2></strong>
        </center>
    </div>
    <br><br>
    <center>
        <a href="q3.html">
        <button type="button"><img src=https://postfiles.pstatic.net/MjAyMTA4MTFfMjA5/MDAxNjI4Njc5NzIxMzI4.GPP1mvtfYgKTPeeMlEV4p2bSKE3sTzYN_giSAfhEIM8g.U1M8A2XBDYDj_hTnA6K_2jHsYdxgffKAfxGNE68SOy8g.PNG.ksj051203/KakaoTalk_20210811_192221213.png?type=w966></button>
        </a>
    </center>
</body>
</html>