<!DOCTYPE html>
<html>
    <head>
      {% load static %}
        <title>kiwe</title>
        <style>
          h5{
            margin:0;
          }
        </style>
      <link rel="stylesheet" href="{% static 'css/bar.css' %}"
    </head>
    <body>
      <center>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1>설정</h1>
          <br>
          <div>
            <form name="setting" action="{% url 'setting' %}" method="post">
            {% csrf_token %}
            <p>
              <h3>계정 설정</h3>
              회원 정보 수정<br>
              <button class=logout name="logout">로그아웃</button><br>
              회원 탈퇴
            </p>
        </div>
          내활동
          <br>
          <br>
          다크모드
          <br>
          <br>
          도움말
          <br>
          <br>
          알림 설정
          <br>
          <br>
          오픈소스
          </div>
        </form>
        </center>

        <div class="bottom_menu">
          <div>
              <a href="{% url 'kiwe' %}"><img src="{% static 'images/b-kiwe.png' %}"></a>
          </div>
          <div>
              <a href="{% url 'friends' %}"><img src="{% static 'images/b-friend.png' %}"></a>
          </div>
          <div>
              <a href="{% url 'memory' %}"><img src="{% static 'images/b-memory.png' %}"></a>
          </div>
          <div>
            <a href="{% url 'setting' %}"><img src="{% static 'images/b-filled-setting.png' %}"></a>
          </div>
      </div>
</html>
