<!DOCTYPE html>
<html>
    <head>
        <title>kiwe</title>
        <style>
          h5{
            margin:0;
          }
        </style>
    </head>
    <body>
      <center>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1>설정</h1>
          <br>
          <div>
            <p><h3>계정 설정</h3>회원 정보 수정<br>로그아웃<br>회원 탈퇴</p>
        </div>
          내활동
          <br>
          <br>
          다크모드
          <br>
          <br>
          도움말
          <br>
          <br>
          알림 설정
          <br>
          <br>
          오픈소스
          </div>

        </center>
</html>
